* {
    margin: 0;
}

:root {

--primary-clr-Red: hsl(0, 100%, 74%);
--primary-clr-Green: hsl(154, 59%, 51%);
--accent-clr-Blue: hsl(248, 32%, 49%);
--neutral-clr-Dark-Blue: hsl(249, 10%, 26%);
--neutral-clr-Grayish-Blue: hsl(246, 25%, 77%);

}

.attribution { font-size: 11px; text-align: center; color: white; }
.attribution a { color: hsl(228, 45%, 44%); }

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    min-height: 100vh;
    display: grid;
    place-items: center;
    margin: 0;
    background-image: url(./images/bg-intro-desktop.png);
    background-repeat: no-repeat;
    background-color: var(--primary-clr-Red);
}

.container {
    display: flex;
    position: relative;
    top: 100px;
  
    
}



/*------ right side -------*/


.info-right {
    margin-left: 70px;
}

.try-it {
    background-color: var(--accent-clr-Blue);
    color: white;
    height: 45px;
    border-radius: 10px;
    margin-bottom: 15px;
    text-align: center;
    box-shadow: 0 6px 2px hsla(0, 0%, 0%, 0.353);

}

.try-it-p {
    color: var(--neutral-clr-Grayish-Blue);
    position: relative;
    top: 10px;
    font-size: 14px;
}

.try-span {
    font-size: 14px;
    color: white;
    font-weight: 600;
}

form {
    background-color: white;
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 10px 2px hsla(0, 7%, 6%, 0.127);
}

input {
    width: 400px;
    height: 35px;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid gray;
    display: block;
    
}

#submit {
    color: white;
    background-color: var(--primary-clr-Green);
    border: var(--primary-clr-Green);
    width: 400px;
    height: 35px;
    border-radius: 5px; 
    cursor: pointer;
    margin-top: 20px;
}

input:focus {
    outline: none;

}


.notice {
    font-size: 10px;
    color: var(--neutral-clr-Grayish-Blue); 
}

.terms {
    color: var(--primary-clr-Red);
}

.terms:hover {
    cursor: pointer;
}

.error-msg {
    display: block;
    color: var(--primary-clr-Red);
    font-size: 12px;
    font-weight: 500;
    position: relative;
    left: 100px;
}

.error {
    background: url(./images/icon-error.svg) no-repeat;
    background-position: 95% center;
    border: 2px solid var(--primary-clr-Red);
    border-radius: 5px;
    
}

.success {
    border: 2px solid var(--primary-clr-Green);
    border-radius: 5px;
    background-image: none;
}

/*------ left side -------*/

.text-left {
    width: 430px;
    color: white;
    position: relative;
    top: 120px;
}

.header-text {
    font-size: 45px;
}

.left-p {
    margin-top: 20px;
    font-size: 14px;
    color: white;
 
}

/*------ Mobile view -------*/

@media screen and (max-width: 769px) {
    body {
        background-image: url(./images/bg-intro-mobile.png);
        background-repeat: no-repeat;
    }
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .text-left {
        position: absolute;
        top: -200px;
        margin: 0;
        text-align: center;
        
        
    }

    .header-text {
        font-size: 35px;
    }

    .left-p {
        padding: 0 70px;
    }

    .info-right {
        position: absolute;
        top: 100px;
        margin: 0;
    }

    .try-it {
        height: 75px;
        width: 300px;
        position: relative;
        left: 70px;
        padding-top: 10px;
        margin-top: -50px;
        

       

    }

    .try-span {
        display: block;
      
    }

    .try-it-p {
        color: white;
        font-size: 13px;
        line-height: 1.8;
    }

    form {
       width: 280px;
        margin-left: 70px;
        margin-bottom: 20px;
        padding: 10px 10px 10px 10px;


    }
    
    input {
        width: 265px;
       
     
    }

    #submit {
        width: 270px;
        margin-right: 70px;

    }

    .notice {
        text-align: center;
       
     
    }

    .error-msg {
        text-align: center;
        left: 0px;
    }

    .attribution {
      display: none;
    }


}

